.about-page {
  margin-top: 5rem;
  text-align: center;
  width: 100%;
  height: calc(100vh - 180px);
}

.about-page h1 {
  font-family: mon-bold;
  font-size: 2rem;
}

.fa-react {
  color: rgb(0, 63, 146);
  margin-top: 2rem;
  font-size: 8rem;

  animation: only-rotating 2s ease-in-out infinite alternate-reverse;
}

@media (min-width: 770px) {
  .about-page h1 {
    font-size: 3rem;
  }
}
