@import url(/assets/css/parts/layout.css);
@import url(/assets/css/cmps/appheader.css);
@import url(/assets/css/cmps/appfooter.css);
@import url(/assets/css/apps/email/emailapp.css);
@import url(/assets/css/parts/helpers.css);
@import url(/assets//css/parts/animations.css);

@import url(/assets/css/apps/keep/notesapp.css);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Assistant', sans-serif;
}

#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    background-color: rgb(241, 241, 232);
}

main{
    display: flex;
    justify-content: center;
    height: 100%;
}
