@import url('../css/parts/layout.css');
@import url('../css/cmps/appheader.css');
@import url('../css/cmps/appfooter.css');
@import url('./apps/email/emailapp.css');
@import url('./parts/helpers.css');
@import url('./parts/animations.css');
@import url('./apps/keep/notesapp.css');
@import url('./cmps/UserMsg.css');
@import url('./home.css');
@import url('../css/parts/fonts.css');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Assistant', sans-serif;
}

#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    /* background-color: rgb(241, 241, 232); */
    background: linear-gradient(
        0deg,
        rgba(241, 241, 232, 1) 0%,
        rgba(0, 134, 224, 1) 100%
    );
}

main{
    display: flex;
    justify-content: center;
    height: 100%;
    overflow-y: hidden;
}

footer{
    bottom: 0;
    color:rgb(49, 42, 29);
    text-align: center;
    font-size: 0.5rem;
}

footer h2{
    transform: translateY(50%);
}


@media (min-width: 770px){
    
    main{
        flex-basis: calc( 100vh - 120px )
    }
    
}