.email-app {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(163, 163, 163);
    border-radius: 5px;
    padding: 2rem;
}

.emails-right-layout {
    width: 100%;
}

.emails-body {
    padding: 1rem;
    background-color: rgb(75, 75, 75);
    border-radius: 5px;
    max-height: 100%;
}

.emails-list {
    background-color: rgb(212, 212, 212);
    border-radius: 5px;
    padding: 0.5rem;
    overflow-y: scroll;
    height: 300px;
}

.email-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0.3rem;
    background-color: #fff;
    height: 3rem;
    border-radius: 5px;
    transition: 0.3s;
}

.email-preview:hover {
    background-color: rgb(221, 221, 221);
}

.email-left {
    display: flex;
}

.email-right {
    display: flex;
}

.email-left>* {
    padding: 0 0.3rem;
}

.email-right>* {
    padding: 0 0.3rem;
}

.emails-sort {
    background-color: rgb(92, 0, 0);
}

.emails-func {
    display: flex;
    padding: 0.5rem 0;
    background-color: rgb(211, 142, 142);
}

.func-left {
    display: flex;
}

.email-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-color: rgb(75, 75, 75);
    border-radius: 5px;
    margin-block-end: 2rem;
    padding: 1rem;
}

.email-filter input {
    width: 90%;
    height: 3rem;
    padding: 0 0 0 0.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
    outline: none;
}

.email-folders {
    width: 10rem;
    height: 100%;
    background-color: #fff;
    margin-inline-end: 4rem;
}


/* //Email-Details */

.email-details {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 80vh;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: rgb(238, 238, 238);
    font-size: 2rem;
    border-radius: 5px;

    z-index: 500;

    animation:scale-up-center-modal .4s cubic-bezier(.39,.575,.565,1.000) both;
}

.header-details {
    display: flex;
    justify-content: space-between;
}

.email-details-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(31, 31, 31);
    height: 3rem;
    border-radius: 5px 5px 0 0;
    padding: 1rem;
    color: white;
    font-size: 1rem;
}


.details-back {
    cursor: pointer;
}

.email-body{
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    
}

.email-metadata{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(221, 221, 221);
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}

.time{
    font-size: 1.5rem;
}