header{
    background-color: rgb(0, 134, 224);
    padding: 0 0.5rem;
    height: 70px;
}

.logo{
    font-size: 2.5rem
}

.header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

.nav-bar a i{
    margin-inline-start: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;

    transition: 0.3s;
}

.nav-bar a i:hover{
    color:rgb(134, 134, 134);
    transform: scale(1.3)
}

.nav-bar .fa-envelope{
    position: relative;
}

.unread-emails{
    position:absolute;

    transform: translate(-50%, -60%);
    display: inline-block;
    border-radius: 50px;
    padding: 0.075rem 0.1rem;
    color:#fffbf5;
    background-color: red;
    font-size: 1rem;
    border: 3px solid black;

    transition: 0.3s;
}

.active i{
    color:rgb(221, 201, 174) !important;
}
.my-active i{
    color:rgb(221, 201, 174) !important;
}


@media (min-width: 770px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        height: 80px;
    }
    
    .header{
        height: 80px;
    }
    
    .nav-bar a i{
        margin-inline-start: 1.75rem;
        font-size: 2rem;
    }
    
    .unread-emails{
        padding: 0.1rem 0.2rem;
        background-color: red;
        font-size: 1.2rem;
    }
}