header{
    background-color: rgb(116, 174, 230);

    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.nav-bar>*{
    margin-inline-start: 0.5rem;
    text-decoration: none;
}