.user-msg {
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  z-index: 1000;
  background-color: rgb(243, 240, 230);

  border-radius: 5px;
  width: 300px;
  height: 150px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-msg-exit-btn{
  position: absolute;
  top:0;
  right: 0;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border:none;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.user-msg-screen{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  z-index: 900;
  background-color: rgba(51, 51, 51, 0.6);
  transition: 0.3s;
}

.message{
  justify-content: center;
}

.confirm{
  justify-content: space-evenly;
}

.confirm-buttons button{
  font-size: 0.85rem;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  width: 6rem;

  border-radius: 50px;
  border: 1px solid rgba(46, 46, 46, 0.294);

  cursor: pointer;
  transition: 0.3s;
}

.confirm-buttons button:hover{
  background-color: rgb(202, 202, 202);
  transform: scale(1.2)
}


@media (min-width: 770px){
  .user-msg {
    width: 400px;
    height: 200px;
    padding: 1rem;
  }
  
  .user-msg-exit-btn{
    position: absolute;
    top:0;
    right: 0;
    margin: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border:none;
    background-color: transparent;
  }
  
  .confirm-buttons button{
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    width: 6rem;
  }
  
}